html{
    background-color:#020659;      
}
body{
    font-family:Verdana, Geneva, Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto;
    background-color:#fff;     
    display: grid;
    width:375px;
}
header{
    color:#fff;
    background-image:linear-gradient(to right, #2104D9, #020659, #000);
    padding:5px 25px;
}
main{
    background-color: #fff;
    width:375px;
}
h1{
    font-size:1.25em;
    text-transform:uppercase;
}
h2{
    padding:15px 15px 0px 40px;    
}
h2,h3{
    font-size:1em;
    text-transform:uppercase;
}
nav{
    grid-row:1/2;
    background-color:#020873;   
    text-transform:uppercase;
    position:relative; 
}
nav h2{
    visibility:hidden;
    height:1px;
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style:none;
}
li{
    padding-right:30px;
    text-align: center;
    padding: 10px 0;
}
li:hover{
    background-color: #590242;
}
a{
    text-decoration: none;
    color:#fff;
}
[href="#home"]{
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
    position:absolute;
    top:60px;
    left:155px;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
.scroll{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    overflow-x:auto;
    overflow-y:hidden;
}
.scroll section{
    margin:10px;
    position:relative;
}
.scroll div{
    position:absolute;
    top:251px;
    background-color: rgba(255,255,255,0.75);
    padding:5px;
    height:50px;
    width:350px;
}
p,dl,dd{
    font-size:1em;
}
dl{
    display:flex;
    position:relative;
    bottom:10px;
}
dt{
    padding-right:5px;
    position:relative;
    bottom:10px;
}
audio{
    position:absolute;
    bottom:150px;
    left:5px;
}
.more{
    text-decoration:none;
    background-color: #590242;
    color:#fff;
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display:block;
    text-align:center;
    margin: 10px 0 30px 32px;
}
.more:hover{
    text-decoration:none;
    background-color: #590242;
    color:#fff;
    border-radius:5px;
    padding:10px;
    width:150px;
    display:block;
    text-align:center;
    margin:10px 0 30px 32px;
}
audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,0.75);
}
#trendingSongs::-webkit-scrollbar{
    width:15px;
}
#trendingSongs::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px #590242;
}
#trendingSongs::-webkit-scrollbar-thumb{
    background:#590242;
    border-radius:5px;
}
#trendingSongs::-webkit-scrollbar-thumb:hover{
    background:#020659;
}
#yourPlaylists ::-webkit-scrollbar, #curatedPlaylists ::-webkit-scrollbar {
    width:15px;
}
#yourPlaylists ::-webkit-scrollbar-track, #curatedPlaylists ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#yourPlaylists ::-webkit-scrollbar-thumb, #curatedPlaylists ::-webkit-scrollbar-thumb {
    background:#020659;
    border-radius:5px;
}
#yourPlaylists ::-webkit-scrollbar-thumb:hover, #curatedPlaylists ::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
#trendingSongs{
    color:#590242;
}
#yourPlaylists{
    display:grid;
    grid-template-areas: 
    "title"
    "content"
    "button"
    ;
}
#yourPlaylists h2{
    background-color:#fff;
    display:grid;
    grid-area: title;
}
#yourPlaylists section{
    grid-area: content;
    background-color: #0D8DFB;
    margin:10px;
    padding:10px;
    color:#fff;
    text-align: center;
    
}
#yourPlaylists div{
    display:flex;
    overflow:scroll;
    background-color: #0D8DFB;
}
#playlistsButton p{
    grid-area: button;
}
#curatedPlaylists{
    background-color:#030A8C;
    display:flex;
    overflow: scroll;
}
#curatedPlaylists h2{
    background-color:#fff;
}
#curatedPlaylists section{
    background-color:#020873;
    margin:10px;
    padding:10px;
    color:#fff;
    display:grid;
    text-align: center;
}
footer p{
    font-size:0.75em;
    text-align: center;
    color:#590242;
}


/* MEDIA QUERY */
@media screen and (min-width:500px){
    body{
        margin: 0 auto;
        width:834px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width:834px;
    }
    #trendingSongs{
        grid-column: 1/3;
        display:flex;
    }
    #yourPlaylists{
        grid-column: 1/2;
    }
    #curatedPlaylists{
        grid-column: 2/3;
    }
    ul{
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style:none;
    }
    label span, input{
        display: none;
    }
}